/* ====================== Connect the Lato font from Google fonts ==========*/
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");
/* ====================== CCS Properties Home Work=============================== */
html,
body {
	scroll-behavior: smooth;
}
body {
	/* Default value */
	font-family: "Lato", sans-serif;
	color: #424551;
}
.wrapper {
	display: grid;
	grid-template-rows: minmax(92px,auto) 1fr minmax(75px,auto);
	grid-template-columns: 1fr minmax(300px,1260px) 1fr;
	grid-template-areas:
		"header header header"
		"main main main"
		"footer footer footer";
	overflow: hidden;
	position: relative;
	min-height: 100%;
}
/* Confining container */
[class*="__container"] {
	/* max-width: 1260px;
	margin: 0 auto; */
	padding: 0 15px;
}
/* ======================HEADER====================== */

/* робити шапку грідом це мінус мозок =), але весело */
.header {
	display: grid;
	grid-area: header;
	grid-template-columns: 1fr minmax(300px,1260px) 1fr;
	padding: 20px 0;
	background: linear-gradient(
		55.95deg,
		rgba(255, 64, 58, 0.2) 0%,
		rgba(247, 94, 5, 0.2) 100%);
	z-index: 100;
}
@media (max-width:689.98px) {
	.header {
		padding: 12px 0;
	}
}
.header__container {
	grid-column-start: 2;
	grid-column-end: 3;
	display: grid;
	grid-template-columns: auto 1fr auto;
	align-items: center;
	gap: 60px;
}
@media (max-width:1154.98px) {
	.header__container {
		gap: 20px;
		justify-content: space-between;
	}
}
@media (max-width:689.98px) {
	.header__container {
		grid-template-columns: auto auto;
	}
}
.header__logo img {
	max-width: 100%;
}
@media (max-width:1000.98px) {
	.header__menu {
		display: none;
	}
}
.menu__list {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	justify-items: center;
	row-gap: 12px;
	column-gap: 5px;
}
@media (max-width:1135.98px) {
	.menu__list {
		grid-template-columns: repeat(5, 1fr);
	}
}
.menu__item {
	position: relative;
}
.menu__item::after {
	content: "";
	position: absolute;
	width: 100%;
	border: 1px solid #F75E05;
	/* #F75E05 */
	/* #FF3F3A */
	left: 0;
	bottom: -5px;
	opacity: 0;
	visibility: hidden;
	transform: scalex(0);
	transition: all 0.4s ease 0s;
}
.menu__item:hover::after {
	opacity: 100%;
	visibility: visible;
	transform: scalex(1);
}
.menu__link {
	font-weight: 700;
}
@media (max-width:697.98px) {
	.actions-header__button  {
		display: none;
	}
}
.actions-header {
	display: grid;
	grid-template-columns: 1.5fr 1fr;
	align-items: center;
	gap: 36px;
	font-weight: 700;
}
@media (max-width:1000.98px) {
	.actions-header {
		gap: 15px;
		grid-template-columns: 1.5fr 0.9fr 52px;
		justify-items: end;
	}
}
@media (max-width:697.98px) {
	.actions-header {
		grid-template-columns: 1fr 52px;
	}
}
@media (max-width:501.98px) {
	.actions-header {
		grid-template-columns: 52px;
		justify-content: end;
	}
}
.actions-header__auth {
	display: grid;
	gap: 8px;
	grid-template-columns: 1fr 1fr;
}
@media (max-width:501.98px) {
	.actions-header__auth {
		display: none;
	}
}
.actions-header__log-in {
	font-weight: 700;
	position: relative;
	padding-left: 24px;
}
.actions-header__log-in::before {
	content: "";
	position: absolute;
	background: url('../img/icons/user.svg') left no-repeat;
	font-weight: 700;
	line-height: 1.25;
	top: 0;
	left: 0;
	width: 17px;
	height: 18px;
	transition: all 0.4s ease 0s;
}
.actions-header__log-in::after {
	content: "";
	position: absolute;
	width: 100%;
	border: 1px solid #F75E05;
	/* #F75E05 */
	/* #FF3F3A */
	left: 0;
	bottom: -5px;
	opacity: 0;
	visibility: hidden;
	transform: scalex(0);
	transition: all 0.4s ease 0s;
}
.actions-header__log-in:hover::after {
	opacity: 100%;
	visibility: visible;
	transform: scalex(1);
}
.actions-header__log-in:hover::before {
	transform: scale(1.1) translateY(-5px);
}
.actions-header__reg {
	position: relative;
	padding-left: 15px;
	font-weight: 700;
}
.actions-header__reg::after {
	content: "";
	position: absolute;
	width: 80%;
	border: 1px solid #F75E05;
	/* #F75E05 */
	/* #FF3F3A */
	right: 0;
	bottom: -5px;
	opacity: 0;
	visibility: hidden;
	transform: scalex(0);
	transition: all 0.4s ease 0s;
}
.actions-header__reg:hover::after {
	opacity: 100%;
	visibility: visible;
	transform: scalex(1);
}
.actions-header__reg::before {
	content: "/";
	position: absolute;
	font-weight: 700;
	line-height: 1.25;
	top: -2px;
	left: 0;
	transition: all 0.4s ease 0s;
}
.actions-header__reg:hover::before {
	transform: scale(1.1) translateX(70px) rotate(520deg);
	color: #F75E05;
	font-weight: 900;
}
/* ======================MAIN====================== */
main {
	grid-area: main;
}
/* ======================INTRO====================== */
.intro-block {
	display: grid;
	grid-template-columns: 1fr minmax(300px,1260px) 1fr;
	position: relative;
	padding: 108px 0px 80px 0px;
	background: linear-gradient(
		55.95deg,
		rgba(255, 64, 58, 0.2) 0%,
		rgba(247, 94, 5, 0.2) 100%);
}
@media (max-width:1129.98px) {
	.intro-block {
		padding: 38px 0px 40px 0px;
	}
}
@media (max-width:501.98px) {
	.intro-block {
		padding: 0px 0px 40px 0px;
	}
}
.intro-block__container {
	grid-column-start: 2;
	grid-column-end: 3;
	position: relative;
	z-index: 2;
}
.intro-block__body {
	margin-bottom: 189px;
}
@media (max-width:1129.98px) {
	.intro-block__body {
		margin-bottom: 54px;
	}
}
.body-intro {
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
}
@media (max-width:847.98px) {
	.body-intro {
		grid-template-columns: 1fr;
	}
}
.body-intro__content {
	padding-right: 40px;
}
@media (max-width:847.98px) {
	.body-intro__content {
		padding-right: 0px;
		align-items: center;
		text-align: center;
		display: grid;
		justify-items: center;
	}
}
.body-intro__play {
	display: inline-grid;
	grid-template-columns: 52px 1fr;
	align-items: center;
	gap: 16px;
	position: relative;
}
.body-intro__play:not(:last-child){
	margin-bottom: 40px;
}
.body-intro__play::before {
	content: "";
	position: absolute;
	left: -11%;
	width: 84px;
	height: 84px;
	border-radius: 50%;
	background: #FF3F3A;
	opacity: 0.12;
	animation: play 2s infinite ease;
	pointer-events: none;
}
@keyframes play {
	0% {
		transform: scale(0);
		opacity: 0;
	}
	50% {
		opacity: 0.12;
	}
	100% {
		opacity: 0;
		transform: scale(2);
	}
}
@media (max-width:501.98px) {
	@keyframes play {
		0% {
			transform: scale(0);
			opacity: 0;
		}
		50% {
			opacity: 0.12;
		}
		100% {
			opacity: 0;
			transform: scale(1.5);
		}
	}
}
.body-intro__play:hover::before {
	animation-play-state: paused;
}
.play-body__icon {
	display: grid;
	align-items: center;
	justify-content: center;
	height: 52px;
	border-radius: 50%;
	background: #FF3F3A;
}
.play-body__text {
	font-weight: 700;
	font-size: 14px;
}
.body-intro__title {
	font-weight: 900;
	font-size: 64px;
	line-height: 130%;
	letter-spacing: 1px;
	color: #1E212C;
}
@media (max-width:1129.98px) {
	.body-intro__title {
		font-size: 50px;
	}
}
@media (max-width:501.98px) {
	.body-intro__title {
		font-size: 30px;
	}
}
.body-intro__title:not(:last-child) {
	margin-bottom: 60px;
}
@media (max-width:847.98px) {
	.body-intro__title:not(:last-child) {
		margin-bottom: 30px;
	}
}
.body-intro__actions {
	display: grid;
	grid-template-columns: minmax(120px, 152px) minmax(120px, 206px);
	align-items: center;
	gap: 24px;
}
.body-intro__actions:not(:last-child) {
	margin-bottom: 40px;
}
@media (max-width:847.98px) {
	.body-intro__media {
		display: none;
	}
}
.body-intro__media-hidden {
	display: none;
	position: relative;
	padding: 0% 86% 41% 0%;
}
.body-intro__media-hidden:not(:last-child) {
	margin-bottom: 40px;
}
.body-intro__media-hidden img {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	object-fit: cover;
	object-position: top;
}
@media (max-width:847.98px) {
	.body-intro__media-hidden {
		display: block;
	}
}
.body-intro__img {
	max-width: 100%;
}
/* ======================RESULTS-INTRO====================== */
.results-intro {
	display: grid;
	grid-auto-columns: 1fr;
	grid-template-columns: repeat(7, auto);
	gap: 5px;
	align-items: center;
	justify-items: center;
}
@media (max-width:689.98px) {
	.results-intro {
		justify-items: normal;
	}
}
@media (max-width:1087.98px) {
	.results-intro {
		grid-template-columns: repeat(2, auto);
	}
}
@media (max-width:501.98px) {
	.results-intro {
		grid-template-columns: 1fr;
	}
}
.results-intro__circle {
	display: grid;
	justify-content: center
}
@media (max-width:1087.98px) {
	.results-intro__circle {
		display: none;
	}
}
.circle__item {
	border-radius: 50%;
	width: 8px;
	height: 8px;
	background: #FF3F3A;
}
.item-results {
	display: grid;
	grid-auto-flow: column;
	color: #1E212C;
	align-items: center;
	gap: 12px;
}
@media (max-width:689.98px) {
	.item-results {
		grid-template-columns: 1fr 1fr;
	}
}
.item-results__value {
	font-weight: 900;
	font-size: 46px;
	line-height: 130%;
}
@media (max-width:689.98px) {
	.item-results__value {
		font-size: 30px;
		/* flex: 0 1 50%; */
		text-align: center;
	}
}
.item-results__text {
	line-height: 1.6;
}
.decor-intro {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
.decor-intro__item {
	position: absolute;
}
.decor-intro__item--1 {
	background: url('../img/main/decor/01.svg') 0 0 no-repeat;
	width: 96px;
	height: 96px;
	top: 12%;
	left: 4.5%;
}
.decor-intro__item--2 {
	background: url('../img/main/decor/02.svg') 0 0 no-repeat;
	width:284px;
	height: 284px;
	bottom: -9.2%;
	left: -5.5%;
}
.decor-intro__item--3 {
	background: url('../img/main/decor/03.svg') 0 0 no-repeat;
	width: 88px;
	height: 47px;
	top: 45%;
	left: 40%;
}
.decor-intro__item--4 {
	background: url('../img/main/decor/04.svg') 0 0 no-repeat;
	width: 61px;
	height: 61px;
	bottom: 24%;
	left: 38%;
}
.decor-intro__item--5 {
	background: url('../img/main/decor/01.svg') 0 0 no-repeat;
	width: 96px;
	height: 96px;
	top: -1.5%;
	right: 4%;
	transform: rotate(135deg);
}
.decor-intro__item--6 {
	background: url('../img/main/decor/05.svg') 0 0 no-repeat;
	width: 187px;
	height: 137px;
	bottom:18%;
	right: -1.5%;
}
/* ======================ABOUT-US====================== */
.main__about-us {
	display: grid;
	grid-template-columns: 1fr minmax(300px,1260px) 1fr;
	padding: 180px 0;
	position: relative;
}
@media (max-width:1129.98px) {
	.main__about-us {
		padding: 80px 0;
	}
}
.about-us-block__container {
	grid-column-start: 2;
	grid-column-end: 3;
	position: relative;
	z-index: 2;
}
.about-us-block__body {
	display: grid;
	grid-template-columns: 57% 43%;
}
@media (max-width:980.98px) {
	.about-us-block__body {
		grid-template-columns: 1fr;
	}
}
.about-us-block__img {
	position: relative;
	padding: 0 0 71% 0;
}
@media (max-width:980.98px) {
	.about-us-block__img {
		padding: 0 0 41% 0;
	}
}
.about-us-block__img img {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	object-fit: cover;
	border-radius: 4px;
}
@media (max-width:980.98px) {
	.about-us-block__img img {
		object-position: top;
	}
}
.about-us-block__block-title {
	padding: 0 0 0 135px;
}
@media (max-width:1329.98px) {
	.about-us-block__block-title {
		padding: 0 0 0 35px;
	}
}
@media (max-width:980.98px) {
	.about-us-block__block-title {
		padding: 15px;
		display: grid;
	}
}
@media (max-width:980.98px) {
	.about-us-block .title-block__list {
		padding: 0 0 0 110px;
	}
}
@media (max-width:847.98px) {
	.about-us-block .title-block__list {
		padding: 0 0 0 35px;
	}
}
@media (max-width:689.98px) {
	.about-us-block .title-block__list {
		padding: 0 0 0 5px;
	}
}
.list__body {
	display: grid;
	grid-auto-flow: row;
	grid-template-columns: 1fr;
	gap: 12px;
	color: #000;
}
.list__item {
	line-height: 160%;
	position: relative;
	padding: 0 0 0 32px;
}
.list__item::before {
	content: "";
	position: absolute;
	top: 5px;
	left: 0;
	background: url(../img/icons/vector.png) 0 0 no-repeat;
	height: 16px;
	width: 16px;
	transition: all 0.4s ease 0s;
}
.list__item:hover::before {
	transform: rotate(360deg) scale(1.2);
}
.title-block__sub-title {
	font-weight: 700;
	line-height: 24px;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: #1E212C;
}
.title-block__sub-title:not(:last-child) {
	margin: 0 0 8px 0;
}
@media (max-width:980.98px) {
	.title-block__sub-title:not(:last-child) {
		justify-self: center;
	}
}
.title-block__title {
	font-weight: 900;
	font-size: 46px;
	line-height: 60px;
	color: #1E212C;
}
.title-block__title:not(:last-child) {
	margin: 0 0 40px 0;
}
@media (max-width:1129.98px) {
	.title-block__title:not(:last-child) {
		margin: 0 0 20px 0;
	}
}
@media (max-width:980.98px) {
	.title-block__title:not(:last-child) {
		justify-self: center;
	}
}
@media (max-width:689.98px) {
	.title-block__title:not(:last-child) {
		font-size: 30px;
	}
}
@media (max-width:689.98px) {
	.title-block__sub-title:not(:last-child) {
		font-size: 14px;
	}
}

.title-block__list:not(:last-child) {
	margin: 0 0 22px 0;
}
.title-block__button:not(:last-child) {
	margin: 0 0 22px 0;
}
@media (max-width:980.98px) {
	.title-block__button {
		justify-self: center;
	}
}
.decor-about-us {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
.decor-about-us__item {
	position: absolute;
}
.decor-about-us__item--circles {
	background: url('../img/main/decor/circles.png') 0 0 no-repeat;
	width: 287px;
	height: 287px;
	top: 48%;
	right: -8%;
}
.decor-about-us__item--dots {
	background: url('../img/main/decor/dots.png') 0 0 no-repeat;
	width: 132px;
	height: 182px;
	top: 26%;
	left: -4%;
	transform: rotate(215deg);
}
@media (max-width:1129.98px) {
	.decor-about-us__item--dots {
		display: none;
	}
	.decor-about-us__item--circles {
		display: none;
	}
}
/* ======================READY-TO-LEARN====================== */
.main-lern {
	display: grid;
	grid-template-columns: 1fr minmax(300px,1260px) 1fr;
	padding: 0 0 180px 0;
}
@media (max-width:1099.98px) {
	.main-lern {
		padding: 0 0 80px 0;
	}
}
.ready-to-learn__container {
	grid-column-start: 2;
	grid-column-end: 3;
}
.title-block >:last-child {
	margin: 0;
}
.title-block__sub-title {
	font-weight: 700;
	line-height: 24px;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: #1E212C;
}
.main-lern .title-block__sub-title {
	justify-self: start;
}
@media (max-width: 980.98px) {
	.main-lern .title-block__sub-title {
		justify-self: center;
	}
}

.main-lern .title-block__title {
	justify-self: start;
}
@media (max-width: 980.98px) {
	.main-lern .title-block__title {
		justify-self: center;
	}
}

.title-block__title {
	font-weight: 900;
	font-size: 46px;
	line-height: 60px;
	color: #1E212C;
}
.title-block_centre {
	text-align: center;
}

.ready-to-learn__block-title {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 8px;
}
@media (max-width: 980.98px) {
	.ready-to-learn__block-title {
		grid-template-columns: 1fr;
	}
}
.ready-to-learn .title-block__sub-title {
	grid-column-start: 1;
	grid-column-end: 3;
}
@media (max-width: 980.98px) {
	.ready-to-learn .title-block__sub-title {
		grid-column-start: 1;
		grid-column-end: 2;
	}
}

.ready-to-learn .title-block__sub-title {
	margin: 0;
}
.ready-to-learn .title-block__title {
	margin: 0;
}
.ready-to-learn .title-block__button {
	align-self: center;
	justify-self: end;
}
@media (max-width: 980.98px) {
	.ready-to-learn .title-block__button {
		justify-self: center;
	}
}
.ready-to-learn__block-title:not(:last-child) {
	margin: 0 0 60px 0;
}
/* ======================CARD====================== */
.card__link-item {
	display: grid;
}
.ready-to-learn__cards {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(391px, 1fr));
	grid-auto-rows: 1fr;
	gap: 30px;
}
@media (max-width:858.98px) {
	.ready-to-learn__cards {
		grid-template-columns: repeat(auto-fit, minmax(300px, 100%));
	}
}
.card__item {
	display: grid;
	grid-template-columns: 36% 64%;
	transition: 0.4s ease;
	background: #FFFFFF;
	box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
	border-radius: 4px;
}
@media (max-width:1099.98px) {
	.card__item {
		grid-template-columns: 1fr;
		grid-auto-rows: 1fr;
	}
}
@media (max-width:858.98px) {
	.card__item {
		grid-template-columns: 36% 64%;
		grid-auto-rows: 1fr;
	}
}
@media (max-width:534.98px) {
	.card__item {
		grid-template-columns: 1fr;
		grid-auto-rows: 1fr;
	}
}
.card__item:hover {
	box-shadow: 15px 15px 37px #9d9d9d, -15px -15px 37px #ffffff;
}
.card__img {
	position: relative;
	padding: 0 0 98% 0;
}
@media (max-width:1099.98px) {
	.card__img {
		padding: 0 0 50% 0;
	}
}
.card__img img {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	object-fit: cover;
	border-radius: 4px;
}
@media (max-width:1099.98px) {
	.card__img img {
		object-position: top;
	}
}
.text-content {
	display: grid;
	grid-auto-flow: row;
	grid-template-rows: auto 1fr auto;
	padding: 32px;
	border-top: 1px solid #E5E8ED;
	border-right: 1px solid #E5E8ED;
	border-bottom: 1px solid #E5E8ED;
	border-radius: 0px 4px 4px 0px;
}
.text-content__title {
	justify-self: start;
	padding: 1px 8px;
	border-radius: 4px;
	color: #FFFFFF;
	margin: 0 0 20px 0;
}
.text-content__text {
	font-weight: 700;
	font-size: 20px;
	line-height: 150%;
	color: #1E212C;
	margin: 0 0 20px 0;
}
.text-content__price-name {
	font-size: 18px;
	line-height: 150%;
	color: #787A80;
}
.text-content span {
	font-weight: 700;
	font-size: 18px;
	line-height: 150%;
	color: #FF4242;
	margin: 0 8px 0 0;
}
.text-content span::after {
	content: "";
	width: 16px;
	height: 0px;
	border: 1px solid #787A80;
	transform: rotate(90deg);
	margin: 0 0 0 8px;
}
.text-content__title--blue {
	background: #5A87FC;
}
.text-content__title--orange {
	background: #F89828;
}
.text-content__title--green {
	background: #03CEA4;
}
.text-content__title--red {
	background: #F52F6E;
}
/* ======================FOOTER====================== */
.footer {
	grid-area: footer;
	position: relative;
	display: grid;
	grid-template-columns: 1fr minmax(300px,1260px) 1fr;
	align-items: center;
	justify-content: center;
	padding: 10px 0;
	background: linear-gradient(
		to right,
		#072142 0%,
		#8c2b7a 25%,
		#ff4d5a 50%,
		#ff4d5a 65%,
		#8c2b7a 80%,
		#072142 100%);
	background-size: 300%;
	background-position: left;
	color: #fff;
	transition: all 1.5s ease 0s;
}
.footer:hover {
	background-position: right;
}
.footer__item {
	grid-column-start: 2;
	grid-column-end: 3;
	display: grid;
	grid-template-columns: 3fr 1fr;
	align-items: center;
	justify-items: center;
	gap: 60px;
}
@media (max-width:1099.98px) {
	.footer__item {
		gap: 0px;
		grid-template-columns: 4fr 1fr;
	}
}
.footer__title {
	font-size: 25px;
	position: relative;
	z-index: 2;
}
@media (max-width:689.98px) {
	.footer__title {
		font-size: 18px;
		justify-self: end;
	}
}
.footer__link {
	max-width: 55px;
}
.footer__link img{
	max-width: 100%;
	position: relative;
	z-index: 2;
}
.footer__wave {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	overflow: hidden;
	line-height: 0;
}
.footer__wave svg {
	position: relative;
	display: block;
	width: calc(130% + 1.3px);
	height: 39px;
}
.footer__wave .footer__fill {
	fill: #FFFFFF;
}